/*.home-page {
   background-image: url('/images/home-page.jpg');
}*/
button#singlebutton {
    margin: 275px;
}
/*.col-md-12.text-center.home-page{
	margin-top: -20px;
}*/
.table{
	text-align: left;
}
#directiveElement{
	padding: 10px;
}
ul{
	list-style: none;
}
nav.navbar.navbar-inverse {
    margin: 0px;
}
.actionEvent {
    border: 1px solid;
    border-radius: 2px;
    margin-bottom: 10px;
}